{% load aggregated_ok_filters %}

<!doctype html>
<html lang="en-US">
  <head>
    <meta charse="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>quis</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>

    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
    </script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="center-block">
        {% regroup watchmen by env as env_list %}
        {% for env in env_list %}
        {% comment %}
           env.grouper is environment name,
           env.list is list of watchmen dicts in that environment,
           watchman dict looks like {env: 'a', project: 'b', services: [...]
        {% endcomment %}
        <div class="row">
          <div class="panel
                      {% if env.list|env_ok %}
                      panel-success
                      {% else %}
                      panel-danger
                      {% endif %}
                      col-md-10 col-md-offset-1">
            <div class="panel-heading"
                 data-toggle="collapse"
                 data-target="#collapse-{{env.grouper}}"
                 aria-expanded="false"
                 aria-controls="collapse-{{env.grouper}}">
              {{env.grouper}}
            </div>
            <div class="panel-body collapse" id="collapse-{{env.grouper}}">
              {% for item in env.list %}
              <div class="panel
                          {% if item.services|services_ok %}
                          panel-success
                          {% else %}
                          panel-danger
                          {% endif %}
                          ">
                <div class="panel-heading"
                     data-toggle="collapse"
                     data-target="#collapse-{{env.grouper}}-{{item.project}}"
                     aria-expanded="true"
                     aria-controls="collapse-{{env.grouper}}-{{item.project}}">
                  {{item.project}}
                </div>
                <div class="collapse in" id="collapse-{{env.grouper}}-{{item.project}}">
                  {% if item.services %}
                  <table class="table" style="margin-bottom: 0px;">
                    <tbody>
                      {% for service in item.services %}
                      <tr {% if not service.ok %}class="danger"{% endif %}>
                        <td>{{service.name}}</td>
                        <td>
                          {% if service.details %}
                          <table class="table">
                            {% for key, value in service.details.iteritems %}
                            <tr>
                              <th>{{key}}</th>
                              <td>
                                <pre>{{value}}</pre>
                              </td>
                            </tr>
                            {% endfor %}
                          </table>
                          {% else %}
                          {% if not service.ok %}not {% endif %}ok
                          {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <div class="panel-body">
                    <p class="alert alert-danger" role="alert" style="margin-bottom: 0px;">
                    Unable to retrieve watchman results
                    </p>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% empty %}
        <h2 class="alert alert-danger" role="alert">
          No environments found in config.
        </h2>
        {% endfor %}
      </div>
  </body>
</html>
